<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.sharksystem">
    <!-- ASAPEngine needs to write in files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:replace="android:theme">

        <activity android:name=".sharknet.android.SNTestActivity"></activity>

        <activity android:name=".sharknet.android.InitActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- tools:replace="android:theme" needed to import ASAPAndroidService module -->
        <!-- should be android:launchMode="singleTask" -->

        <activity android:name=".pki.android.CertificateViewActivity" />
        <activity android:name=".pki.android.CertificateListActivity" />
        <activity android:name=".pki.android.PersonEditActivity" />
        <activity android:name=".pki.android.PersonAddReceivedCredentialsActivity" />
        <activity android:name=".pki.android.PersonAddExplanationActivity" />
        <activity android:name=".pki.android.PersonWaitForCredentialActivity" />
        <activity android:name=".pki.android.OwnerCredentialSendActivity" />
        <activity android:name=".pki.android.CredentialExchangeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SN Channels -->
        <activity android:name=".messenger.android.SNChannelsListActivity" />
        <activity android:name=".messenger.android.SNChannelAddActivity" />
        <activity android:name=".messenger.android.SNChannelViewActivity" />
        <activity android:name=".messenger.android.SNChannelAddMessageActivity" />
        <activity android:name=".messenger.android.SNMessageViewActivity" />

        <activity
            android:name=".pki.android.PersonListViewActivity"
            android:launchMode="singleTask" />
        <activity android:name=".pki.android.PersonListSelectionActivity" />
        <activity
            android:name=".radar.android.RadarActivity"
            android:launchMode="singleTask" />

        <!-- settings -->
        <!--            android:launchMode="singleTask" -->
        <activity
            android:name=".sharknet.android.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            />

        <activity android:name=".sharknet.android.settings.HubDescriptionsListActivity" />
        <activity android:name=".sharknet.android.settings.HubDescriptionEditActivity" />

        <activity
            android:name=".pki.android.OwnerActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>