<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.sharksystem">
    <!-- ASAPEngine needs to write in files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--"@style/Theme.AppCompat.Light.NoActionBar"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme= "@style/NoActionBar"
        tools:replace="android:theme">
        <activity android:name=".sharknet.android.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- tools:replace="android:theme" needed to import ASAPAndroidService module -->
        <!-- should be android:launchMode="singleTask" -->
        <activity android:name=".persons.android.CertificateViewActivity" />
        <activity android:name=".persons.android.CertificateListActivity"></activity>
        <activity android:name=".persons.android.PersonEditActivity" />
        <activity android:name=".persons.android.PersonAddReceivedCredentialsActivity" />
        <activity android:name=".persons.android.PersonAddExplanationActivity" />
        <activity android:name=".persons.android.PersonWaitForCredentialActivity" />
        <activity android:name=".persons.android.OwnerCredentialSendActivity" />

        <!-- SN Channels -->
        <activity android:name=".asap.sharknet.android.SNChannelsListActivity" />
        <activity android:name=".asap.sharknet.android.SNChannelAddActivity" />
        <activity android:name=".asap.sharknet.android.SNChannelViewActivity" />
        <activity android:name=".asap.sharknet.android.SNChannelAddMessageActivity" />

        <activity
            android:name=".persons.android.PersonListViewActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".persons.android.PersonListSelectionActivity"></activity>
        <activity android:name=".makan.android.AddOpenMakanActivity" />
        <activity android:name=".makan.android.AddClosedMakanActivity" />
        <activity
            android:name=".radar.android.RadarActivity"
            android:launchMode="singleTask" />
        <activity android:name=".makan.android.MakanViewActivity" />
        <activity android:name=".makan.android.MakanAddMessageActivity" />
        <activity
            android:name=".sharknet.android.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".persons.android.OwnerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".makan.android.MakanListActivity"
            android:launchMode="singleTask">
        </activity>
    </application>
</manifest>